<html>
  <head>
    <link rel="stylesheet" href="/static/css/style2.css">
    <title>links</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  </head>
    <style>
  body{
    background-color:#24A5E5;
  }
</style>
<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="#">Travel Away</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="links">Links</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="search">Search</a>
      </li>
    </ul>
  </div>
</nav>

  <h1 id="h10">Here Are Some Useful Websites</h1>
  <div id="body1">
  <div class=a>
  <h4 id="h1">Flight</h4>
  <h5>Kayak</h5>
  <a href="https://www.kayak.com/">https://www.kayak.com/</a>
  <button type="button" class="btn btn-secondary" onclick="alert('Search for the cheapest airline tickets for all the top airlines around the world and the top international flight routes. KAYAK searches hundreds of travel sites to help you find cheap airfare and book a flight that suits you best. ')">more about Kayak</button>
  <img style= "margin-left: 80px" src="/static/img/kayak1.jpg" width="300" height="150">
  <br>
  <h5>SkyScanner</h5>
  <a href="https://www.skyscanner.net/">https://www.skyscanner.net/</a>
  <button type="button" class="btn btn-secondary" onclick="alert('Skyscanner is a leading global travel search site, a place where people are inspired to plan and book direct from millions of travel options at the best prices. ')">more about SkyScanner</button>
  <img style= "margin-left: 50px" src="/static/img/skyscanner.jpg" height="100" weight="250">
  <br>
  <h5>Expedia</h5>
  <a href="https://www.expedia.com/Flights">https://www.expedia.com/Flights</a>
  <button type="button" class="btn btn-secondary" onclick="alert('Expedia is one of the world’s leading full-service online travel brands helping travelers easily plan and book travel from the widest selection of vacation packages, flights, hotels, rental cars, rail, cruises, activities, attractions, and services. ')">more about Expedia</button>
  <img style= "margin-left: 50px" src="/static/img/expedia.jpg" height="70" weight="230">
  </div>
  <div class=a>
  <h4 id="h2">Hotel</h4>
  <h5>Booking</h5>
  <a href="https://www.booking.com/">https://www.booking.com/</a>
  <button type="button" class="btn btn-secondary" onclick="alert('Whoever you are, whatever you are looking for, we have the perfect place for you. Our 28,335,277 listings include 5,712,342 listings of homes, apartments, and other unique places to stay, and are located in 145,369 destinations in 228 countries and territories.')">more about Booking</button>
  <img style= "margin-left: 50px" src="/static/img/booking.jpg" height="50" weight="150">
  <br>
  <h5>Trivago</h5>
  <a href="https://www.trivago.com/">https://www.trivago.com/</a>
  <button type="button" class="btn btn-secondary" onclick="alert('trivago’s hotel search allows users to compare hotel prices in just a few clicks from more than 400 booking sites for 1.8 million+ hotels in over 190 countries. With trivago you can easily find your ideal hotel and compare prices from different websites.')">more about Trivago</button>
  <img style= "margin-left: 50px" src="/static/img/trivago.jpg" height="70" weight="200">
  </div>
</div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>
</html>